.contentDefault {
    p {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    ul {
        margin-top: 1em;
        margin-bottom: 1em;
        padding-left: 2.5em;
        list-style-type: disc;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        line-height: 1.5;
        font-weight: 700;
    }

    h1,
    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.17em;
    }

    h4 {
        font-size: 1em;
    }
}
